# Gmail API Credentials
GMAIL_CLIENT_ID=your_client_id_here
GMAIL_CLIENT_SECRET=your_client_secret_here
GMAIL_REFRESH_TOKEN=your_refresh_token_here
GMAIL_USER=your_email@gmail.com
GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground

# API Security
MY_SECRET_KEY=your_secret_key_here

# Test Email Settings (Optional)
TEST_RECIPIENT=test_recipient@example.com
TEST_SUBJECT=Local Test: OrangeHRM 8.1
